<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<customErrors mode="Off">
			<error statusCode="500" redirect="/"/>
			<error statusCode="404" redirect="/"/>
		</customErrors>
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" culture="zh-CN" uiCulture="zh-CN"/>
	</system.web>
</configuration>
