<?xml version="1.0" encoding="utf-8" ?>
<BQIPDConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--诊断结论配置文件-->
  <BQIPDConclusionFile>F:\BrandQQ\www\App_Data\BQIPDConclusions.xml</BQIPDConclusionFile>
  
  <!--SEO信息查询更新频率(天)-->
  <BQIPDUpdateInterval>5</BQIPDUpdateInterval>

  <!--图表基本图片-->
  <BQIPDChartImage>F:\BrandQQ\www\App_Data\BQIPDChartImage.png</BQIPDChartImage>
  
  <!--图表基本图片-->
  <BQIPDHisChartImage>F:\BrandQQ\www\App_Data\BQIPDHisChartImage.png</BQIPDHisChartImage>
  
  <!--SEO图片配置文件-->
  <SEOImageCongfigFile>F:\BrandQQ\www\App_Data\SEOImageConfig.xml</SEOImageCongfigFile>

</BQIPDConfigInfo>