<?xml version="1.0"?>
<GeneralInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--数据库连接-->
  <ConnectionString>Data Source=mickey;Initial Catalog=BrandQQ;User ID=sa;Password=123456;Max Pool Size=10;Pooling=true;</ConnectionString>
  
  <!--行业词典配置文件-->
  <IndustryDictionaryFile>F:\BrandQQ\www\App_Data\industries.xml</IndustryDictionaryFile>
    
  <!--针对行业的结论配置文件-->
  <IndustryConclusionFile>F:\BrandQQ\www\App_Data\industryConclusions.xml</IndustryConclusionFile>
  
  <!--问卷存储路径-->
  <PaperSavePath>F:\BrandQQ\www\App_Data\papers\</PaperSavePath>
  <!--问卷测试结果存储路径-->
  <PaperResultSavePath>F:\BrandQQ\www\App_Data\results\</PaperResultSavePath>
  <!--问卷测试结果临时存储路径--> 
  <PaperResultTempSavePath>F:\BrandQQ\www\App_Data\tempResults\</PaperResultTempSavePath>

  <!--logo系统相关数据文件目录-->
  <LogoDataSourcePath>F:\BrandQQ\www\App_Data\logoData\</LogoDataSourcePath>

  <!--logo模仿秀配置文件-->
  <LogoImitationShowConfigFile>F:\BrandQQ\www\App_Data\logoData\logoImSh.xml</LogoImitationShowConfigFile>
  
  <!--BMI下载配置-->
  <BMIDownloadPath>F:\BrandQQ\www\App_Data\BMI\</BMIDownloadPath>
  <BMIDownloadConfigFile>F:\BrandQQ\www\App_Data\BMIDownloads.xml</BMIDownloadConfigFile>


  <!--SMTP设置-->
  <SmtpServer>mail.foresight.net.cn</SmtpServer>
  <SmtpServerPort>25</SmtpServerPort>
  <SmtpServerEmail>brandqq@foresight.net.cn</SmtpServerEmail>
  <SmtpServerPassword>foresightD543</SmtpServerPassword>
  <SmtpServerDisplayName>BrandQQ</SmtpServerDisplayName>

  <!--电子邮件模板配置文件路径-->
  <MailTemplatesFile>F:\BrandQQ\www\App_Data\MailTemplates.xml</MailTemplatesFile>

  <!--客户端临时信息的保存期限(天)-->
  <UserTempInfoDuration>365</UserTempInfoDuration>

  <!--系统用户帐户的Email-->
  <SystemUsers>mickey.xu@foresight.net.cn;mickey@sina.com</SystemUsers>

    
</GeneralInfo>